<!--<div class="dish">
    <div class="dishInfo">
        <h1>{{dishName}}</h1>
        <p>{{dishPrice}}</p>
        <p>{{dishDescription}}</p>
    </div>
</div>-->
<div class="card">
    <div class="card-content">
      <h3 class="card-title">Nombre del plato</h3>
      <p class="card-description">Pizza con piña que no le gusta ni a tu abuela shao abadsohao oabohasbds  hobha habah h a abhab  abhasdhba </p>
      <p class="card-price">$10</p>
    </div>
    <div class="card-image">
      <img src="https://imagenes.20minutos.es/files/og_thumbnail/uploads/imagenes/2022/10/20/pizza.jpeg" alt="Plato de comida">
    </div>
  </div>
