h1 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.dishGrid{
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 18rem));
    gap: .5rem;
    margin-bottom: 1rem;
}