<div class="rectangulo">
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/elle-restaurantes-decoracion-bonita-instagram-raimunda-madrid-1573068471.jpg?crop=0.9333333333333333xw:1xh;center,top&resize=1200:*" alt="Imagen de restaurante">
    <div class="restaurante-info">
        <div>
            <p class="restaurante-nombre">Restaurante</p>
            <p class="restaurante-horario">0:00-0:00</p>
        </div>
        <div class="restaurante-valoracion">
            <span>4.2</span>
            <img class="estrella" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/icons/star-fill.svg" alt="Estrella">
        </div>
    </div>
</div>