.container{
    min-height: 100vh;
    width:100%;
    background-color: var(--background);
}

.mainSection{
    padding: 4rem 1rem 1rem 1rem;
    min-height: 100vh;
    width:100%;
}

.columna-izquierda {
  width: 30%; /* Ajusta el ancho en rem según tus necesidades */
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem; /* Ajusta el espacio entre elementos en rem según tus necesidades */
}

.columna-derecha {
  width: 65%; /* Ajusta el ancho en rem según tus necesidades */
  float: right;
}

#user-icon {
  max-width: 10rem; /* Ajusta el tamaño máximo en rem según tus necesidades */
}

#card-info {
  background-color: #D7CDAD;
  width: 100%; /* Ajusta el ancho en rem según tus necesidades */
  border-radius: 0.5rem; /* Ajusta el radio del borde en rem según tus necesidades */
  display: flex;
  flex-direction: column;
  gap:1rem
}

#title-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem; /* Ajusta el tamaño de fuente en rem según tus necesidades */
  line-height: 2.5rem; /* Ajusta el alto de línea en rem según tus necesidades */
  color: #000000;
  margin-bottom: 0.2rem;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}

#input-text {
  background: #FFFFFF;
  border-radius: 0.95rem; /* Ajusta el radio del borde en rem según tus necesidades */
  border: 0px;
  width: 90%;
  height: 2.5rem; /* Ajusta la altura en rem según tus necesidades */
  margin-bottom: 1rem;
  margin-left: 0.5rem; /* Ajusta el margen izquierdo en rem según tus necesidades */
  font-size: 1.25rem; /* Ajusta el tamaño de fuente en rem según tus necesidades */
  text-indent: 1rem;
}

#expiration-date {
  display: flex;
  flex-direction: row;
}

#input-text-2 {
  background: #FFFFFF;
  border-radius: 0.95rem; /* Ajusta el radio del borde en rem según tus necesidades */
  border: 0px;
  width: 25%; /* Ajusta el ancho en rem según tus necesidades */
  height: 2.5rem; /* Ajusta la altura en rem según tus necesidades */
  margin-bottom: 0.5rem;
  margin-left: 0.5rem; /* Ajusta el margen izquierdo en rem según tus necesidades */
  text-indent: 1rem;
}

.element {
  margin-bottom: 0.5rem;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  width: 30%;
  height: 30%;
  margin-top: -3rem;
  margin-right: 20px;
}

button:hover {
  background-color: green;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}

.logout-button {
  background-color: #FFCD29;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #d3a409;
}
