<div class="container">
    <app-navigation></app-navigation>
    <div class="mainSection">
        <div class="columna-izquierda">
            <img id="user-icon" src="./assets/user-icon.png">
            <div id="card-info">
                <div>
                    <p id="title-text">Card Number</p>
                    <input id="input-text" type="text">
                </div>
                <div>
                    <p id="title-text">Expiration Date</p>
                    <div id="expiration-date">
                        <input id="input-text-2" type="text">
                        <input id="input-text-2" type="text">
                    </div>
                </div>
                <div>
                    <p id="title-text">CV</p>
                    <input id="input-text" type="text">
                </div>
            </div>
        </div>
        <div class="columna-derecha">
            <div class="element">
                <p id="title-text">Name</p>
                <input id="input-text" type="text">
            </div>
            <div class="element">
                <p id="title-text">Email</p>
                <input id="input-text" type="text">
            </div>
            <div class="element">
                <p id="title-text">Address</p>
                <input id="input-text" type="text">
            </div>
            <div class="element">
                <p id="title-text">Phone</p>
                <input id="input-text" type="text">
            </div>
            <div class="button-container">
                <button>Save Changes</button>
            </div>
        </div>
    </div>
</div>
