.container{
    min-height: 100vh;
    width:100%;
    background-color: var(--background);
}

.login{
    margin: 2 auto;
    background-color: white;
    border-radius: 4px;
}

.form{
    gap: 2.3rem;
    padding: 4rem 1rem 1rem 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
} 

.custom-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1rem;
  }
  
  button[type="submit"] {
    display: block;
    width: 65%;
    padding: 10px;
    background-color: #FFCD29;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 8rem;
  }
  
  button[type="submit"]:hover {
    background-color: #FFCD29;
  }
.goRegister{
    margin-top: 1rem;
    margin-left: 10em;
    text-align: center;
} 