.container{
    min-height: 100vh;
    width:100%;
    background-color: var(--background);
    position:relative;
}

.mainSection{
    padding: 4rem 1rem 3rem 1rem;
    
}

.banner {
    width:100%;
    height: 14rem;
    background-color: green;
    
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.label {
    height: 6rem;
    
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    position: absolute;
    top: 11rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.labelContent{
    padding: 1rem;
    position:relative;
}

.label button{
    position: absolute;
    bottom:0;
    right: 0;
    margin: 1.25rem;
    padding: .5rem;
    background-color: var(--complementary);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: .75rem;
}
.labelContent p{
    font-size: .9rem;
    color: var(--text-light);
}

.labelContent h1{
    word-break: break-all;
}

.labelRating {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: .25rem;
}
.labelRating svg {
    height: .9rem;
    color: var(--primary);
}


.orderButton{
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem;
    background-color: var(--complementary);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: .75rem;
}

@media screen and (min-width: 400px) {
    .label {
        max-width: 20rem;
        left: 1rem;
    }
}
  

