/* You can add global styles to this file, and also import other style files */
* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    --primary: #FFCD29;
    --contrast: #FFFFFF;
    --fade: linear-gradient(90.18deg, #FFCD29 2.7%, #DA4414 97.88%);
    --stroke: #23232e;
    --background: #D0D0D0;
}
