/* You can add global styles to this file, and also import other style files */
* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    --primary: #FFCD29;
    --complementary: #295BFF;
    --fade: linear-gradient(90.18deg, #FFCD29 2.7%, #DA4414 97.88%);
    --text-light: #888888;
    --background: #D0D0D0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
