.navbar{
    width: 100%;
    height: 3rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: white;
    position:relative;
    position: fixed;
}

.navTitle{
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    
}

.navTitle h1{
    margin: 0;
    font-size: .8rem;
}

#titleContrast {
    color: var(--primary);
    text-align: right;
}

.navList {
    width: fit-content;
    height: 3rem;
    display: flex;
    gap: .5rem;
    position: absolute;
    right: 3rem;
    list-style: none;
}

.navItem{
    width: 3rem;
    height: 3rem;
    position: relative;
}

.navItem:hover svg{
    width: 1.5rem;
    color: var(--primary)
}

.navItem svg {
    width: 1.25rem;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 70ms ease;
    cursor: pointer;
}